.footer {
  width: 100%;
  height: auto;
  padding: 6rem 0 2.5rem;
  background-color: var(--purple);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 650px;
  height: auto;
  margin: 0 auto;
}

.mask__image {
  width: 100%;
  aspect-ratio: 1;
  position: relative;

  -webkit-mask-image: url("/shape-mask.svg"); /* SVG that is a white shape on transparent bg */
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url("/shape-mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;

  img {
    object-fit: cover;
  }
}

.withlove{
  color: white;
  font-size: calc(var(--30-font-size));
  font-family: var(--garamond-font);
  display: flex;
  align-items: center;
  gap: 10rem;
  text-transform: uppercase;
  letter-spacing: 15%;
}
