.footer {
  width: 100%;
  height: auto;
  padding: 6rem 0 2rem;
  background-color: var(--purple);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.image__svg {
  width: 100%;
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}

.mask__image{
  width: 100%;
  height: 100%;
  position: relative;

  img{
    object-fit: cover;
  }
}