.homeblue{
  width: 100%;
  height: auto;
  padding: 7rem 0;
  background: var(--lightpurple);
}

.hb__wrapper{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}

.hb__calendar{
  
}